<div>
    <h1>Listado de Productos</h1>
    <p>
        ID:  {{this.id}}<br>
        Titulo: {{this.title}} <br>
        Precio: {{this.price}} <br>
        Descripcion: {{this.description}} <br>
        Imagen: {{this.thumbnail}} <br>
        status: {{this.status}} <br>
        Stock: {{this.stock}} <br>
        Codigo: {{this.code}} <br>
        Categoria: {{this.category}} <br>
    </p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>